@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>TokenTool Test Harrness</h1>


<h2>v1 Endpoint</h2>
<ul>
    <li><a href="@Model.V1AuthUri">Authorization Code Grant</a></li>

</ul>

<h2>v2 Endpoint</h2>
<ul>
    <li><a href="@Model.V2AdminUri">Admin Consent</a></li>
    <li><a href="@Model.V2AuthUri">Authorization Code Grant</a></li>
    <li><a href="@Model.V2ImplicitUri">Implicit Grant (Token)</a></li>
    <li><a href="@Model.V2OpenIdUri">Implicit Grant (OpenId Connect)</a></li>
    <li><a href="http://localhost:64191/auth/cc">Client Credentials</a></li>
</ul>